@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pixelated Elegance";
  src: url("/fonts/PixelatedEleganceRegular-ovyAA.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Giphurs";
  src: url("/fonts/Giphurs-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Milkman";
  src: url("/fonts/milkman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basteleur Moonlight";
  src: url("/fonts/Basteleur-Moonlight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Basteleur Bold";
  src: url("/fonts/Basteleur-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Young Serif";
  src: url("/fonts/YoungSerif-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Career";
  src: url("/fonts/Career-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
  /* Flexoki Light Theme */
  :root {
    --flexoki-bg: 48 100% 97%;
    --flexoki-bg-2: 51 33% 92%;

    --flexoki-ui: 51 21% 88%;
    --flexoki-ui-2: 50 14% 83%;
    --flexoki-ui-3: 55 10% 79%;

    --flexoki-tx: 0 3% 6%;
    --flexoki-tx-2: 50 3% 42%;
    --flexoki-tx-3: 49 7% 70%;

    --flexoki-re: 3 62% 42%;
  }

  /* Flexoki Dark Theme */
  :root[data-theme="dark"] {
    --flexoki-bg: 0 3% 6%;
    --flexoki-bg-2: 30 4% 11%;

    --flexoki-ui: 30 3% 15%;
    --flexoki-ui-2: 40 3% 20%;
    --flexoki-ui-3: 30 3% 24%;

    --flexoki-tx: 55 10% 79%;
    --flexoki-tx-2: 43 3% 52%;
    --flexoki-tx-3: 45 2% 33%;

    --flexoki-re: 5 61% 54%;
  }

  /* Apply Theme to Global CSS Variables */
  :root {
    --background: var(--flexoki-bg);
    --foreground: var(--flexoki-tx);
    --card: var(--flexoki-bg);
    --card-foreground: var(--flexoki-tx);
    --popover: var(--flexoki-bg);
    --popover-foreground: var(--flexoki-tx);
    --primary: var(--flexoki-tx);
    --primary-foreground: var(--flexoki-bg);
    --secondary: var(--flexoki-ui-2);
    --secondary-foreground: var(--flexoki-tx-2);
    --muted: var(--flexoki-bg-2);
    --muted-foreground: var(--flexoki-tx-3);
    --accent: var(--flexoki-ui);
    --accent-foreground: var(--flexoki-tx-2);
    --destructive: var(--flexoki-re);
    --destructive-foreground: var(--flexoki-bg);
    --border: var(--flexoki-ui-2);
    --input: var(--flexoki-ui-2);
    --ring: var(--flexoki-ui-3);
    --radius: 0.5rem;
    --font-elegance: "Pixelated Elegance", sans-serif;
    --font-giphurs: "Giphurs", sans-serif;
    --font-milkman: "Milkman", sans-serif;
    --font-basteleur: "Basteleur Moonlight", sans-serif;
    --font-basteleur-bold: "Basteleur Bold", sans-serif;
    --font-young-serif: "Young Serif", serif;
    --font-career: "Career", sans-serif;
  }
}

@layer base {
  /* Page */
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-youngSerif;
  }

  /* Prose */
  .prose-primary {
    @apply prose prose-lg prose-gray prose-li:my-1 prose-a:text-blue-600 hover:prose-a:text-yellow-500 active:prose-a:text-red-600 break-words;
  }

  .prose-primary > :first-child {
    @apply mt-0;
  }

  :root[data-theme="dark"] .prose-primary {
    @apply prose-invert prose-a:text-blue-300 hover:prose-a:text-yellow-300 active:prose-a:text-red-300;
  }

  /* Links */
  .link {
    @apply underline text-blue-600 hover:text-yellow-500 active:text-red-600 duration-150 ease-in-out;
  }
  :root[data-theme="dark"] .link {
    @apply text-blue-300 hover:text-yellow-300 active:text-red-500;
  }

  /* Footer Links */
  footer a {
    @apply hover:underline;
  }

  /* Light / Dark Mode Icons */
  .sun {
    @apply hidden;
  }
  :root[data-theme="dark"] .sun {
    @apply block;
  }

  .moon {
    @apply block;
  }
  :root[data-theme="dark"] .moon {
    @apply hidden;
  }
}

/* Non-prose Headings */
@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  h4 {
    @apply text-lg font-semibold;
  }
  h5 {
    @apply text-base font-semibold;
  }
  h6 {
    @apply text-sm font-semibold;
  }
}
