---
import Link from "@/components/links.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Oops">
  <main class="text-md min-h-[70vh]">
    <p>Uh oh. There&apos;s no resource found at this path</p>
    <p><Link href="/" target="_self">Go back home</Link></p>
  </main>
</Layout>
