---
import Link from "@/components/links.astro";
import PageFooter from "@/components/page-footer.astro";
import Layout from "@/layouts/layout.astro";
---

<Layout title="Oops">
  <section>
    <p>Uh oh. There&apos;s no resource found at this path</p>
    <p><Link href="/" target="_self">Go back home</Link></p>
  </section>
  <PageFooter />
</Layout>
