---
import PageFooter from "@/components/page-footer.astro";
import Layout from "@/layouts/layout.astro";

import * as influences from "@/content/general/influences-inspiration.md";
import * as writing from "@/content/general/writing-resources.md";
import * as attributions from "@/content/general/attributions.md";
import HomePanel from "@/components/home-panel.astro";
---

<Layout title="About">
  <HomePanel />
  <section class="p-4">
    <article class="prose-primary">
      <influences.Content />
      <writing.Content />
      <attributions.Content />
    </article>
  </section>
  <PageFooter lastUpdated={null} />
</Layout>
