---
import Link from "@/components/links.astro";
import PageFooter from "@/components/page-footer.astro";
import Layout from "@/layouts/layout.astro";
import { EMAIL, EMAIL_LINK, TELEGRAM, TELEGRAM_URL } from "@/lib/constants";
---

<Layout title="Contact">
  <section>
    <h1>Contact</h1>
    <p>email: <Link href={EMAIL_LINK}>{EMAIL}</Link></p>
  </section>
  <PageFooter />
</Layout>
