---
import Layout from "../layouts/Layout.astro";
import { Project } from "@/components/project.tsx";
---

<Layout title="">
  <main class="text-md space-y-8">
    <section class="space-y-4">
      <p>
        I&apos;m an amateur programmer, entrepreneur, internet enthusiast,
        reader, and aspiring writer.
      </p>
      <p>
        I believe in giving people more sovereignty, and think developing better
        internet infrastructure and privacy tech is the surest way to do that.
        There&apos;s probably a long way to go, but until then, I like to spend
        my time working on and alongside open source and decentralized projects
        like Ethereum and Farcaster.
      </p>
      <p>
        Check out my projects if you&apos;d like to see what I&apos;ve been
        working on lately. Also, if you find anything interesting, please feel
        free reach out.
      </p>
    </section>
    <section class="space-y-4">
      <h3 class="font-medium text-lg">Projects</h3>
      <Project
        name="Jelly Beans"
        link="https://jellybeans.wtf/"
        date="Sep. '24 - Current"
        bio="An onchain prediction game."
      />
      <Project
        name="Fight IQ"
        link="https://fightiq.io/"
        date="Aug. '24 - Current"
        bio="Platform for pro MMA data, analytics, and tools."
      />
      <Project
        name="WannaBet Names"
        link="https://names.wannabet.cc/"
        date="Aug. '24"
        bio="Claim free ENS 'wannabet.eth' subnames."
      />
      <Project
        name="WannaBet"
        link="https://wannabet.cc/"
        date="Jun. '24 - Current"
        bio="Peer-to-peer crypto betting app."
      />
      <Project
        name="Optimism GovScore"
        link="https://opgovscore.com/delegates"
        date="Feb. '24 - May '24"
        bio="Web app for discovering quality underrepresented Optimism DAO delegates."
      />
    </section>
  </main>
</Layout>
