---
import Layout from "@/layouts/layout.astro";
import * as intro from "@/content/general/intro.md";

type Post = {
  url: string;
  frontmatter: {
    title: string;
    description: string;
    author: string;
    category: string;
    draft: boolean;
  };
};

const posts = Object.values(import.meta.glob<Post>("./misc/*.md", { eager: true }));
---

<Layout title="Home">
  <section class="border-b p-4">
    <article class="prose prose-invert">
      <intro.Content />
    </article>
    <br />
    <p><a href="/contact" class="link">Reach out</a></p>
    <p><a href="/about" class="link">About</a></p>
  </section>
  <section class="p-4 mb-12">
    <h2>Drafts</h2>
    {
      posts.map((post) => (
        <p>
          <a href={post.url} class="link">
            {post.frontmatter.title}
          </a>
        </p>
      ))
    }
  </section>
</Layout>
