---
import Layout from "../layouts/layout.astro";
import Link from "../components/links.astro";

type Post = {
  url: string;
  frontmatter: {
    title: string;
    description: string;
    author: string;
    category: string;
    draft: boolean;
  };
};

const posts = Object.values(import.meta.glob<Post>("./misc/*.md", { eager: true }));
---

<Layout title="Home">
  <main class="p-4">
    <section class="mb-6">
      <p class="mb-2">
        I&apos;m a programmer, indie web enthusiast, and part-time writer. I started my career in business consulting,
        and shifted into web development around a year ago. Now I write typescript for startups and work on small
        projects in the ethereum ecosystem. I spend the rest of my productive time learning about AI, crypto, and
        software.
      </p>
      <p>
        My motivation for creating this site is to archive my personality and preferences as a means of imprinting
        myself, in whatever small way, into the future of the world. AI is starting to, and will continue to make
        intelligence cheap, and execution on intelligence reliable and fast. I don't see myself providing much
        competition, but I can document how I think and feel about it, and maybe even get something I want by voicing
        it.
      </p>
      <p class="my-2">
        <Link href="/contact" target="_self">Reach out</Link> · <Link href="/about" target="_self">About</Link>
      </p>
    </section>
    <section class="mb-12">
      <h2>Writing</h2>
      {
        posts.map((post) => (
          <p>
            <a href={post.url} class="link">
              {post.frontmatter.title}
            </a>
          </p>
        ))
      }
    </section>
  </main>
</Layout>
