---
import Layout from "../layouts/Layout.astro";
---

<Layout title="">
  <main class="text-md space-y-8 min-h-[70vh]">
    <section class="space-y-4">
      <p>I&apos;m an amateur programmer, entrepreneur, internet enthusiast, reader, and aspiring writer.</p>
      <p>
        I believe in giving people more sovereignty, and think developing better internet infrastructure and privacy
        tech is the surest way to do that. There&apos;s probably a long way to go, but until then, I like to spend my
        time working on and alongside open source and decentralized projects like Ethereum and Farcaster.
      </p>
      <p>
        Check out my projects if you&apos;d like to see what I&apos;ve been working on lately. Also, if you find
        anything interesting, please feel free reach out.
      </p>
    </section>
  </main>
</Layout>
