---
import Layout from "@/layouts/layout.astro";
import * as intro from "@/content/general/intro.md";
import { getMiscPosts, sortPosts } from "@/lib/utils";

const posts = sortPosts(getMiscPosts());
---

<Layout title="Home">
  <section class="border-b p-4">
    <article class="prose-primary">
      <intro.Content />
    </article>
    <br />
    <p><a href="/contact" class="link">Reach out</a></p>
    <p><a href="/about" class="link">About</a></p>
  </section>
  <section class="flex items-center border-b">
    <a href="/timeline" class="p-3 text-2xl w-full hover:bg-yellow-500/20 transition-colors border-r">👀 Timeline</a>
    <a href="/notes" class="p-3 text-2xl w-full hover:bg-yellow-500/20 transition-colors">📚 Notes</a>
  </section>
</Layout>
