---
import Layout from "../layouts/Layout.astro";
import { Project } from "@/components/project.tsx";
---

<Layout title="">
  <main class="text-md space-y-8">
    <section class="space-y-4">
      <p>
        I&apos;m an amateur programmer, internet enthusiast, reader, and
        aspiring writer.
      </p>
      <p>
        I believe in giving people more sovereignty, and think developing better
        internet infrastructure is one of the surest ways to do that. That means
        I enjoy working on and alongside decentralized systems that are
        transparent, built-to-last, and simple.
      </p>
      <p>
        Check out my projects if you&apos;d like to see what I&apos;ve been
        working on lately. Also, if you find anything interesting, please feel
        free reach out.
      </p>
    </section>
    <section class="space-y-4">
      <h3 class="font-medium text-lg">Projects</h3>
      <Project
        name="WannaBet"
        link="https://wannabet.cc/"
        date="Jun. '24 - Current"
        bio="Peer-to-peer crypto betting app."
      />
      <Project
        name="Onchain Clarity Co."
        link="https://onchainclarity.co/"
        date="Feb. '24 - Current"
        bio="Web3 brand and Optimism DAO delegate."
      />
      <Project
        name="Optimism GovScore"
        link="https://govscore.xyz/"
        date="Feb. '24 - May '24"
        bio="Web app that scores DAO delegates based on their voting history, onchain identity, and relative voting power."
      />
    </section>
  </main>
</Layout>
