---
import Layout from "../layouts/Layout.astro";
import Link from "../components/links.astro";
import { H2 } from "@/components/headings";
---

<Layout title="">
  <main class="text-md min-h-[70vh]">
    <section class="mb-6">
      <p class="mb-2">
        I&apos;m a programmer, indie web enthusiast, and part-time writer. I studied business in school but shifted into
        development a little after a year of starting in consulting, so now I write typescript for startups and work on
        small projects in the ethereum ecosystem. I spend the rest of my productive time trying to learn about AI,
        computer science, and entrepreneurship, and build out this website.
      </p>
      <p>
        My motivation for creating this site is to archive my personality and preferences as a means of imprinting
        myself, in whatever small way, into the future of the world. AI is starting to, and will continue to make
        intelligence cheap, and execution on intelligence reliable and fast. I don't see myself providing much
        competition, but I can document how I think and feel about it, and maybe even get something I want by voicing
        it.
      </p>
      <p class="my-2">
        <Link href="/contact" target="_self">Reach out</Link> · <Link href="/about" target="_self">About</Link>
      </p>
    </section>
    <section>
      <H2>Writing</H2>
      <p><a href="/misc/future-of-engineering" class="link">The Future of Engineering</a></p>
      <p><a href="/misc/economic-mobility" class="link">Economic mobility</a></p>
    </section>
  </main>
</Layout>
