---
import HomePanel from "@/components/home-panel.astro";
import Layout from "@/layouts/layout.astro";

import * as improvingTypescript from "@/content/misc/improving-typescript.md";
import * as usingWriting from "@/content/misc/using-writing-to-reach-a-result.md";
---

<Layout title="Misc">
  <HomePanel />
  <section class="p-4 border-b">
    <h1>Timeline</h1>
    <!-- <p class="text-muted-foreground">
      All my ideas start here as small blurbs, and may be left that way, or may be expanded into fuller length posts
      over time.
    </p> -->
    <!-- <ol class="p-4 pl-6 list-decimal">
      {
        sorted.map((post) => {
          return <li>{post.data.shortTitle}</li>;
        })
      }
    </ol> -->
  </section>
  <!-- {
    sorted.map(async (post: MiscPost) => {
      const { Content } = await render(post);
      return (
        <section class="p-4 border-b">
          <h2 class="mb-2">{post.data.title}</h2>
          <p class="text-muted-foreground">Started {new Date(post.data.dateStarted).toLocaleDateString()}</p>
          <p class="text-muted-foreground">Last updated {new Date(post.data.lastUpdated).toLocaleDateString()}</p>
          <article class="prose-primary">
            <Content />
          </article>
        </section>
      );
    })
  } -->
  <section class="p-4 border-b">
    <h2 class="mb-2">{improvingTypescript.frontmatter.title}</h2>
    <p class="text-muted-foreground">
      Started {new Date(improvingTypescript.frontmatter.dateStarted).toLocaleDateString()}
    </p>
    <p class="text-muted-foreground mb-4">
      Last updated {new Date(improvingTypescript.frontmatter.lastUpdated).toLocaleDateString()}
    </p>
    <article class="prose-primary mb-12">
      <improvingTypescript.Content />
    </article>
  </section>

  <section class="p-4 border-b">
    <h2 class="mb-2">{usingWriting.frontmatter.title}</h2>
    <p class="text-muted-foreground">Started {new Date(usingWriting.frontmatter.dateStarted).toLocaleDateString()}</p>
    <p class="text-muted-foreground">
      Last updated {new Date(usingWriting.frontmatter.lastUpdated).toLocaleDateString()}
    </p>
    <article class="prose-primary">
      <usingWriting.Content />
    </article>
  </section>
</Layout>
