---
import { NUM_BANNER_IMAGES, HOTKEY_BANNER_CHANGE } from "@/lib/constants";
---

<section class="w-full aspect-[5/1] p-2 border-b">
  <script define:vars={{ NUM_BANNER_IMAGES, HOTKEY_BANNER_CHANGE }}>
    const getBannerPath = (num) => `/images/banner-${num}.webp`;
    const getRandomBannerPath = () => getBannerPath(Math.floor(Math.random() * NUM_BANNER_IMAGES) + 1);

    function getNewBanner() {
      const bannerImg = document.getElementById("bannerImg");
      if (!bannerImg) return;
      bannerImg.src = getRandomBannerPath();
    }

    document.addEventListener("DOMContentLoaded", () => {
      getNewBanner();
    });

    let keyPressed = false;
    document.addEventListener("keydown", (e) => {
      if (
        !keyPressed &&
        e.key.toLowerCase() === HOTKEY_BANNER_CHANGE &&
        !e.ctrlKey &&
        !e.metaKey &&
        !e.altKey &&
        document.activeElement &&
        document.activeElement.tagName !== "INPUT" &&
        document.activeElement.tagName !== "TEXTAREA"
      ) {
        keyPressed = true;
        getNewBanner();
      }
    });

    document.addEventListener("keyup", (e) => {
      if (e.key.toLowerCase() === HOTKEY_BANNER_CHANGE) {
        keyPressed = false;
      }
    });
  </script>
  <img
    id="bannerImg"
    alt="About Banner"
    class="w-full h-full object-cover"
    title={`'${HOTKEY_BANNER_CHANGE}' for a random banner`}
  />
</section>
