---
import { FooterLink } from "./footer-link";
---

<footer class="grid grid-cols-4 pt-12 pb-32">
  <div class="*:text-xs col-span-2">
    <p>© 2024 Nick Brodeur</p>
    <p>Free to use under the MIT License</p>
  </div>
  <div class="*:text-xs">
    <p>Contact</p>
    <FooterLink href="https://t.me/nbrodeur">Telegram</FooterLink>
    <FooterLink href="mailto:nicholasbrodeur@outlook.com">Email</FooterLink>
  </div>
  <div class="*:text-xs">
    <p>Socials</p>
    <FooterLink href="https://twitter.com/nick_brodeur">
      Twitter / X
    </FooterLink>
    <FooterLink href="https://warpcast.com/ncale.eth">Farcaster</FooterLink>
    <FooterLink href="https://github.com/ncale">Github</FooterLink>
    <FooterLink href="https://www.are.na/nick-brodeur/channels">
      Are.na
    </FooterLink>
  </div>
</footer>
