---
import { GITHUB_URL, SUBSTACK_URL } from "@/lib/constants";
---

<header class="border-b mt-4 flex items-end justify-between">
  <h1 class="font-medium text-xl">
    <a href="/">Nick Brodeur</a>
  </h1>
  <nav class="flex gap-1.5 items-center text-gray-400 *:duration-100 *:ease-in-out hover:*:text-gray-600">
    <a href={GITHUB_URL} target="_blank">github</a>
    <!-- • -->
    <!-- <a href={} target="_blank">resume</a> -->
    •
    <a href={SUBSTACK_URL} target="_blank">writing</a>
  </nav>
</header>
