---
import IconFarcaster from "./icons/farcaster";
import IconGithub from "./icons/github";
import IconTelegram from "./icons/telegram";
---

<header class="border-b mt-4 flex justify-between">
  <h1 class="font-medium text-xl">
    <a href="https://nickbrodeur.com/">Nick Brodeur</a>
  </h1>
  <div
    class="flex gap-1.5 items-center text-gray-400 *:duration-100 *:ease-in-out hover:*:text-gray-600"
  >
    <a href="https://github.com/ncale" target="_blank"><IconGithub /></a>
    <a href="https://t.me/nbrodeur" target="_blank"><IconTelegram /></a>
    <a href="https://warpcast.com/ncale.eth" target="_blank">
      <IconFarcaster />
    </a>
  </div>
</header>
