---

---

<header class="border-b">
  <div class="max-w-3xl py-3 px-4 flex items-end justify-between mx-auto">
    <h1 class="font-medium text-xl">
      <a href="/">Nick Brodeur</a>
    </h1>
    <div></div>
  </div>
</header>
