---
import { MoonIcon, SunIcon } from "@radix-ui/react-icons";
import { HOTKEY_DARK_MODE } from "@/lib/constants";
---

<header class="border-b">
  <div class="max-w-4xl py-3 px-4 text-foreground flex items-center justify-between mx-auto">
    <h1 class="font-medium text-xl">
      <a href="/">dx33</a>
    </h1>

    <button
      id="theme-toggle"
      aria-label="Toggle theme"
      class="p-2 text-muted-foreground hover:text-foreground"
      title={`'${HOTKEY_DARK_MODE}' to toggle dark mode`}
    >
      <SunIcon className="sun" />
      <MoonIcon className="moon" />
    </button>
  </div>
</header>

<script define:vars={{ HOTKEY_DARK_MODE }}>
  const getTheme = () => {
    const theme = localStorage?.getItem("theme");
    if (typeof localStorage !== "undefined" && theme) {
      return theme;
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  };

  document.documentElement.setAttribute("data-theme", getTheme());

  document.getElementById("theme-toggle")?.addEventListener("click", () => {
    const newTheme = getTheme() === "dark" ? "light" : "dark";
    localStorage.setItem("theme", newTheme);
    document.documentElement.setAttribute("data-theme", newTheme);
  });

  // Add keyboard shortcut for theme toggle
  let keyPressed = false;
  document.addEventListener("keydown", (e) => {
    if (
      !keyPressed &&
      e.key.toLowerCase() === HOTKEY_DARK_MODE &&
      !e.ctrlKey &&
      !e.metaKey &&
      !e.altKey &&
      document.activeElement &&
      document.activeElement.tagName !== "INPUT" &&
      document.activeElement.tagName !== "TEXTAREA"
    ) {
      keyPressed = true;
      const themeToggle = document.getElementById("theme-toggle");
      themeToggle?.click();
    }
  });

  document.addEventListener("keyup", (e) => {
    if (e.key.toLowerCase() === HOTKEY_DARK_MODE) {
      keyPressed = false;
    }
  });
</script>
