<section>
  <a
    href="/"
    class="inline-block border-b w-full h-full text-center text-sm bg-muted text-muted-foreground hover:bg-muted-foreground hover:text-muted transition-colors px-4 py-0.5"
  >
    home
  </a>
</section>
