---
export interface Props {
  href: string;
  target?: "_blank" | "_parent" | "_self" | "_top";
}

const { href, target = "_blank" } = Astro.props;
---

<a href={href} target={target} class="link">
  <slot />
</a>
