---
import PageFooter from "@/components/page-footer.astro";
import Layout from "@/layouts/layout.astro";

const metadata = {
  title: "Drugs",
  author: "Ben",
  description: "A list of drugs and their effects",
};
---

<Layout title={metadata.title}>
  <section>
    <article>
      <p>{metadata.title}</p>
      <p>Written by: {metadata.author}</p>
      <p>{metadata.description}</p>
      <h1></h1>
    </article>
  </section>
  <PageFooter />
</Layout>
