---
import { H1, H2, H3 } from "@/components/ui/headings";
import Layout from "../../layouts/layout.astro";
import PageFooter from "@/components/page-footer.astro";
---

<Layout title="Economic Mobility">
  <article>
    <H1>The Future of Engineering</H1>
    <p>
      AI's rapid advancement has been one of the most unexpected and surreal experiences of our generation. There are
      wide reaching implications, many of which bleak, that are already playing out.
    </p>
  </article>
  <PageFooter />
</Layout>
