---
import Header from "@/components/header.astro";
import { FooterLink } from "@/components/footer-link";
import "@/styles/globals.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=general-sans@400,500&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="max-w-lg mx-auto font-sans space-y-4">
    <Header />
    <slot />
    <footer class="grid grid-cols-3 pt-12 pb-32">
      <div class="*:text-xs">
        <p>© 2024 Nick Brodeur</p>
        <p>All rights reserved</p>
      </div>
      <div class="*:text-xs">
        <p>Contact</p>
        <FooterLink href="https://t.me/nbrodeur">Telegram</FooterLink>
        <FooterLink href="mailto:nicholasbrodeur@outlook.com">Email</FooterLink>
      </div>
      <div class="*:text-xs">
        <p>Socials</p>
        <FooterLink href="https://twitter.com/nick_brodeur">
          Twitter / X
        </FooterLink>
        <FooterLink href="https://warpcast.com/ncale.eth">Farcaster</FooterLink>
        <FooterLink href="https://github.com/ncale">Github</FooterLink>
        <FooterLink href="https://www.are.na/nick-brodeur/channels">
          Are.na
        </FooterLink>
      </div>
    </footer>
  </body>
</html>
